%h2.h グラフ

%p= link_to 'Back', :back
= javascript_include_tag "http://d3js.org/d3.v3.min.js", charset: 'utf-8'
:javascript
  d3.json("/money.json", function(dataset) {
    console.log(dataset);
    var w = 500;
    var h = 300;
    var svg = d3.select("body").append("svg").attr({width:w, heigth:h});
    svg.selectAll("circle")
      .data(dataset)
      .enter()
      .append("circle")
      .attr({
        cx: function(d,i) { return d.amount; },
        cy: h / 2,
        r:  function(d,i) { return d.amount / 10; },
        fill: "red"
      });

  });
