#download
  %p ZaimからMoneyデータダウンロード
  %p= link_to 'ダウンロード', '/download'
  %p MoneyデータDBインポート
  %p= link_to 'インポート', '/import_db'
#money
  %p Moneyデータ表示
  %p= link_to '表示', money_index_path
#viz
  %p Moneyデータグラフ可視化
  %p= link_to 'グラフ', viz_path
