!!!
%html
  %head
    %title Zaimapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track'
    = csrf_meta_tags
  %body
    = yield
